<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865048516973-8uaur7khru17do556344dmr5p54gkqma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865048516973-8uaur7khru17do556344dmr5p54gkqma</string>
	<key>API_KEY</key>
	<string>AIzaSyALIBwxbi3tMLuX-NfCpagc4Xm1mW2rvmA</string>
	<key>GCM_SENDER_ID</key>
	<string>865048516973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-af635</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-af635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865048516973:ios:273d32f167d11959b46264</string>
</dict>
</plist>